@font-face {
  font-family: HelveticaNeueLight;
  src: url(../assets/fonts/HelveticaNeueLTStd-Lt.otf);
}
@font-face {
  font-family: HelveticaNeue;
  src: url(../assets/fonts/HelveticaNeueLTStd-Roman.otf);
}
@font-face {
  font-family: HelveticaNeueBold;
  src: url(../assets/fonts/HelveticaNeueLTStd-Bd.otf);
}
@font-face {
  font-family: HelveticaNeueMedium;
  src: url(../assets/fonts/HelveticaNeueLTStd-Md.otf);
}