.home_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.home_container--text {
  font-size: 3em;
  text-align: center;
}