@import './Variables';

.mealPlan_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 50px;
  background: $white;
  font-family: $helveticaMedium;
  font-size: 1.7em;
  color: $green;
  text-transform: uppercase;
  border-right: solid 2px #dbdbdb;
}
.mealPlan_heading--last {
  border-top-right-radius: 5px;
}
.mealPlan_overflow {
  display: flex;
  min-width: 256px;
  max-width: 896px;
  overflow-x: auto;
}
.mealPlan_day {
  position: relative;
  border-right: solid 2px #dbdbdb;
  width: 126px;
  &:nth-last-child(1) {
    border-top-right-radius: 5px;
  }
}
.mealPlan_day--today {
  border: solid 2px $orange;
  box-sizing: content-box;
  .mealPlan_heading {
    height: 48px;
    color: $orange;
  }
  .mealPlan_shake {
    filter: grayscale(0);
  }
  .mealPlan_meal {
    color: $black;
  }
}
.mealPlan_meal {
  cursor: pointer;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: left;
  background-color: $white;
  padding: 0.85em 0.85em 0 0.85em;
  font-size: 0.9em;
  color: $darkTextGray;
  border-top: solid 2px #dbdbdb;
  border-bottom: none;
  border-left: none;
  border-right: none;
  transition: all 0.3s ease;
  &:hover, &:focus {
    color: $black;
  }
}
.mealPlan_shake {
  background: center bottom no-repeat url('../assets/img/shake.png');
  filter: grayscale(1);
}
.mealPlan_carb {
  width: 100%;
  height: 40px;
  background: $tableBackground;
  color: $darkTextGray;
}
.mealPlan_carb--low {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mealPlan_workout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $tableBackground;
  width: 100%;
  height: 40px;
  border-top: solid 2px #dbdbdb;
  color: $darkTextGray;
}
.mealPlan_free {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 126px;
  background: #fff;
  border-bottom: solid 2px #dbdbdb;
  border-right: solid 2px #dbdbdb;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-top: 450px;
}
.free_item {
  margin: 0 2em;
  h2 {
    font-family: $helveticaLight;
    color: #c2c2c2;
  }
  img {
    transform: rotate(90deg);
  }
}
.mealPlan_print {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 126px;
  height: 80px;
  border-bottom-right-radius: 5px;
  border: none;
  color: $darkTextGray;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/table_background_hour.jpg');
  img {
    margin-right: 0.5em;
  }
  h3 {
    margin-left: 0.5em;
  }
}
@media screen and (min-width: 980px) {
  .mealPlan_overflow {
    overflow-x: hidden;
  }
}