@import './Variables';

.mealPlan {
  width: 100%;
  margin: auto;
  padding: 1em;
}
.mealPlan_container {
  display: grid;
  grid-template-columns: 85px repeat(7, 126px);
  grid-template-rows: 50px repeat(5, 90px) repeat(2, 30px);
  justify-content: center;
  background-image: url('../assets/img/table_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.mealPlan_hours {
  grid-area: 2 / 1 / span 5 / span 1;
  display: grid;
  grid-template-columns: 85px;
  grid-template-rows: repeat(5, 90px);
}

@for $i from 1 through 5 {
  .mealPlan_hour:nth-child(#{$i}) {
    display: block;
    grid-area: #{$i} / 1 / span 1/ span 1;
    justify-self: center;
    align-self: center;
  }
}
