@import './Variables';

.mealPlan {
  width: 100%;
  margin: auto;
  padding: 1em;
}
.mealPlan_container {
  width: 980px;
  margin: auto;
  background: #e9e9e9;
  display: flex;
  justify-content: left;
}
.mealPlan_day {
  width: 126px;
}
.mealPlan_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 50px;
  background: $white;
  font-family: $helveticaMedium;
  font-size: 1.7em;
  color: $green;
  text-transform: uppercase;
}
.mealPlan_meal {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: left;
  background: $white;
  padding: 0.85em 0.85em 0 0.85em;
  font-size: 0.9em;
  color: $darkTextGray;
}
