@import './Variables';

.mealPlan_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 50px;
  background: $white;
  font-family: $helveticaMedium;
  font-size: 1.7em;
  color: $green;
  text-transform: uppercase;
  border-right: solid 1px #dbdbdb;
}
.mealPlan_heading--last {
  border-top-right-radius: 5px;
}
.mealPlan_overflow {
  display: flex;
  width: 256px;
  overflow-x: auto;
}
.mealPlan_day {
  position: relative;
  border-right: solid 1px #dbdbdb;
  width: 128px;
  &:nth-last-child(1) {
    border-top-right-radius: 5px;
  }
}
.mealPlan_meal {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: left;
  background-color: $white;
  padding: 0.85em 0.85em 0 0.85em;
  font-size: 0.9em;
  color: $darkTextGray;
  border-top: solid 1px #dbdbdb;
}
.mealPlan_shake {
  background: center bottom no-repeat url('../assets/img/shake.png');
  filter: grayscale(1);
}
.mealPlan_carb {
  width: 100%;
  height: 40px;
  background: $tableBackground;
  color: $darkTextGray;
}
.mealPlan_carb--low {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mealPlan_workout {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $tableBackground;
  width: 100%;
  height: 40px;
  border-top: solid 1px #dbdbdb;
  color: $darkTextGray;
}
.mealPlan_free {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 128px;
  background: #fff;
  border-bottom: solid 1px #dbdbdb;
  border-right: solid 1px #dbdbdb;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  margin-top: 450px;
}
.free_item {
  margin: 0 2em;
  h2 {
    font-family: $helveticaLight;
    color: #c2c2c2;
  }
  img {
    transform: rotate(90deg);
  }
}
.mealPlan_print {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 128px;
  height: 80px;
  border-bottom-right-radius: 5px;
  border: none;
  color: $darkTextGray;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/table_background_hour.jpg');
  img {
    margin-right: 0.5em;
  }
  h3 {
    margin-left: 0.5em;
  }
}