@import './Variables';

.mealPlan {
  width: 100%;
  margin: auto;
  padding: 1em;
}
.mealPlan_container {
  width: 980px;
  margin: auto;
  background: #fff;
  display: flex;
  justify-content: left;
}
.mealPlan_day {
  width: 126px;
}
