@import './Variables';

.header_menu {
  width: 100%;
  padding: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4em;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  animation: toggleNav 0.3s ease;
  z-index: 1;
}
.header_menu--item {
  text-transform: uppercase;
  padding: 1em;
  font-family: $helveticaBold;
  font-size: 1.5em;
  &.active {
    color: $orange;
  }
}

@keyframes toggleNav {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}