@import './Variables';

.header_menu--open {
  width: 100%;
  padding: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4em;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  z-index: 1;
  transform: translateX(0);
  animation: openNav 0.3s ease;
}
.header_menu--closed {
  width: 100%;
  padding: 1em;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 4em;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $white;
  z-index: 1;
  transform: translateX(-1000px);
  animation: closeNav 0.3s ease;
}
.header_menu--item {
  position: relative;
  text-transform: uppercase;
  padding: 1em;
  font-family: $helveticaBold;
  font-size: 1.5em;
  transition: all 0.3s ease;
  &.active {
    color: $orange;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: $orange;
    transition: width 0.3s ease;
    left: 50%;
    top: 2.5em;
    color: $orange;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: $orange;
    transition: width 0.3s ease;
    right: 50%;
    top: 2.5em;
  }
  &:hover, &:focus {
    color: $orange;
    &::before {
      width: 25px;
    }
    &::after {
      width: 25px;
    }
}
}
@keyframes openNav {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes closeNav {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}
@media screen and (min-width: 980px) {
  .header_menu--closed {
    position: static;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: auto;
    top: 0;
    left: 0;
    transform: translateX(0);
    background: none;
    padding: 0
  }
  .header_menu--item {
    padding: 0 1em;
    &::after, &::before {
      top: 1.5em;
    }
  }
}