@import './Variables';

.options {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.options_header {
  font-size: 0.6em;
  text-transform: uppercase;
  color: #bdbdbd;
  margin: 1em 0;
}
.options_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}
.options_button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 0.5em;
}
.button_icon {
  &:hover, &:focus {
    opacity: 0.3;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 768px) {
  .options {
    width: 30%;
  }
}
@media screen and (min-width: 980px) {
  .options {
    width: 20%;
    padding: 0;
  }
  .options_header {
    width: 100%;
  }
  .options_buttons {
    width: 100%;
  }
}