@import "./Variables";

.timeline {
  width: 100%;
  font-size: 0.6em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline_heading {
  text-transform: uppercase;
  color: #bdbdbd;
  margin: 1em 0;
}
.timeline_container {
  display: flex;
  flex-direction: row;
}
.timeline_item {
  position: relative;
  display: block;
  margin: 2em 0.55em 0 0.55em;
  color: $darkTextGray;
}
.timeline_line {
  position: absolute;
  display: block;
  width: 3em;
  height: 2px;
  background: '#dbdbdb';
  top: 4px;
  right: 0px;
  z-index: -1;
}
.timeline_circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
