// THEME COLORS

$green: #b3c304;
$orange: #ff811c;
$gray: #ececec;
$lightGray: #f9f9f9;
$white: #fff;
$black: #000;

// TYPOGRAPHY

$helvetica: 'HelveticaNeue', sans-serif;
$helveticaLight: 'HelveticaNeueLight', sans-serif;
$helveticaMedium: 'HelveticaNeueMedium', sans-serif;
$helveticaBold: 'HelveticaNeueBold', sans-serif;
$textGray: #7c7c7c;
$darkTextGray: #828282;

$boxShadow: rgba(0,0,0,0.13) 0 0 5px;