@import './Fonts';
@import './Variables';

@import './App';
@import './Home';
@import './Header';
@import './Nav';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: $helvetica;
}
